<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaptureTheQR"
        tools:targetApi="31" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".FirstTimeLogInActivity"
            android:label="First Time Login"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:label="@string/map"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddQRActivity"
            android:exported="false"
            android:label="@string/add_qr"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LibraryActivity"
            android:label="@string/qr_library"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ScoreboardActivity"
            android:label="@string/scoreboard"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".OtherPlayerActivity"
            android:label="@string/player"
            android:parentActivityName=".ScoreboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScoreboardActivity" />
        </activity>
        <activity
            android:name=".QRDetailsActivity"
            android:label="@string/qr_details"
            android:parentActivityName=".LibraryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LibraryActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Home Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" >
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
